{% extends "::base.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block body %}
<h1>Welcome to the Instagram</h1>
    <a href="{{ path('fos_user_registration_register') }}">Register</a>
    <a href="{{ path('fos_user_security_login') }}">Login</a>
{% endblock %}
